html{
    
    font-family: 'helvetica neue';
    font-size: 10px;
    background-image: url(https://i.pinimg.com/originals/6f/6b/36/6f6b36af5d9f5ad13ff756c50ca1686a.jpg);
    background-repeat: no-repeat;
}
.body{
   
    background-size: cover;
    text-align: center;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;

}
.clock{
    
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 220px auto;
    position: relative;
    padding: 2rem;
    box-shadow: 0 0 0px 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);


}

.click-face{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);  /*Tiene en cuenta la altura de las manecillas del reloj */
}
.hand{
     width: 50%;
     height: 5px;
     background: black;
     position: absolute;
     top:50%;
     transform-origin: 100%;/* Por default viene en 50%, lo ponemos en 100% para que empiece a rotar teniendo de punto la derecha.*/
     transform: rotate(90deg);/* para que empiece desde las 12 en punto.*/
     transition: all 0.05s ;
     transition-timing-function: cubic-bezier(0.11, 2.79, 0.58, 1) ;

     
}